extends layout

block content

  h2 Edit Result

  if result
    form(action="/api/results/update/" + result._id, method="post")
      div.control-group
        label Phone Number
        input(type="text", readonly="readonly", value=result.src)
      each quetion, i in questions
        div.control-group
          label.control-label= "Q" + (i + 1) + " " + questions[i]
          div.controls
            if result.answers[i]
              input(type="text", name=(i + 1), value=result.answers[i].answer)
            else
              input(type="text", name=(i + 1))
      div.form-actions
        button#save.btn.btn-primary.btn-large(type="submit") Save
        &nbsp;
        if referer
          input(type="hidden", name="referer", value=referer)
          a#reset.btn.btn-large(href=referer) Cancel
        else
          a#reset.btn.btn-large(href="/results") Cancel
