extends layout

block content

  h2 Message log
  .topNavigation= `Page ${page} of ${pages}`
  .navigation
    - var start = (page - 5 <= 0) ? 1 : (page - 5)
    - var end = ((page + 5) > pages) ? pages : (page + 5)
    - if (start > 1)
        a(href='/messageLog/1') &laquo; First
    - for (var i = start; i <= end; i++)
        a(href='/messageLog/' + i, class=(i == page) ? 'current' : '')= i
    - if (end < pages)
        a(href='/messageLog/' + pages) Last &raquo;

  table.messages.table.table-striped
    thead
      tr
        th.direction Direction
        th.body Message
        th.from Sender
        th.to Recipient
        th.date Timestamp
    tbody
      each sms in results
        - var errorClass = (sms.error) ? 'error message' : 'message'
          tr(class= errorClass)
            td.direction= sms.direction
            td.body= sms.body
            td.from= sms.from
            td.to= sms.to
            td.date= sms.timestamp
  .navigation
    - if (start > 1)
        a(href='/messageLog/1') &laquo; First
    - for (var i = start; i <= end; i++)
        a(href='/messageLog/' + i, class=(i == page) ? 'current' : '')= i
    - if (end < pages)
        a(href='/messageLog/' + pages) Last &raquo;
