extends layout

block content

  h2 Results
  .topNavigation= `Page ${page} of ${pages}`
  .navigation
    - var start = (page - 5 <= 0) ? 1 : (page - 5)
    - var end = ((page + 5) > pages) ? pages : (page + 5)
    - if (start > 1)
        a(href='/results/1') &laquo; First
    - for (var i = start; i <= end; i++)
        a(href='/results/' + i, class=(i == page) ? 'current' : '')= i
    - if (end < pages)
        a(href='/results/' + pages) Last &raquo;

  if results && results.length
    .export
      a(href='/downloads/results.csv') Export as .csv file

    table.results.table.table-striped
      thead
        tr
          th Number
          th Date
          th Commuted?
          th AM mode
          th PM mode

      tbody
      each result in results
        tr.result
          td= result.src || ''
          td= result.date || ''
          td= result.commuted
          td= result.amMode || ''
          td= result.pmMode || ''
          
  .navigation
    - if (start > 1)
        a(href='/results/1') &laquo; First
    - for (var i = start; i <= end; i++)
        a(href='/results/' + i, class=(i == page) ? 'current' : '')= i
    - if (end < pages)
        a(href='/results/' + pages) Last &raquo;
