extends layout

block content

  h2 Users
  .topNavigation= `Page ${page} of ${pages}`
  .navigation
    - var start = (page - 5 <= 0) ? 1 : (page - 5)
    - var end = ((page + 5) > pages) ? pages : (page + 5)
    - if (start > 1)
        a(href='/users/1') &laquo; First
    - for (var i = start; i <= end; i++)
        a(href='/users/' + i, class=(i == page) ? 'current' : '')= i
    - if (end < pages)
        a(href='/users/' + pages) Last &raquo;


  if users && users.length
    .export
      a(href='/downloads/users.csv') Export as .csv file

    table.results.table.table-striped
      thead
        tr
          th.number Number
          each question, i in questions
            th(title= questions[i])= "Q" + (i + 1)

      tbody
      each user in users
        tr.result
          td.number= user.src
          each question, i in questions
            td= (user.answers[i]) ? user.answers[i].answer : ''

  .navigation
    - if (start > 1)
        a(href='/users/1') &laquo; First
    - for (var i = start; i <= end; i++)
        a(href='/users/' + i, class=(i == page) ? 'current' : '')= i
    - if (end < pages)
        a(href='/users/' + pages) Last &raquo;
